img {
    max-width: 99%;
    max-height:90%;
    animation-name: fadeinout;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeinout{
    0% {
        opacity: 0;
    }
    3% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.image_container {
    display: flex;
    width: 50%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    border: 3px solid black;
}
#picture_frame {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

#navigation_tools_container {
    display: flex;
    justify-content: center;
}
#navigation_tools {
    display: flex;
    justify-content: space-between;
    width: 200px;
    border: 2px solid #131516;
    border-radius: 8px;
    padding: 1px 5px 1px 5px;
}

i {
    font-size: 2em;
    color: grey;
}

i:focus,
:hover{
    color: red;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: 3px;
    display: inline-block;
}